@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>Start Recognizing Faces</h1>
    <p class="lead">This webpage was build using Azure Cognitive Services Face API</p>
    <p><a href="https://docs.microsoft.com/en-us/azure/cognitive-services/face/overview" target="_blank"
            class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-sm-4">
        <h2>Detection</h2>
        <p>Upload an image and see a series of face-related attributes.</p>
        <p><a class="btn btn-primary btn-md" asp-area="" asp-controller="People" asp-action="Recognize">Start now »</a>
        </p>
    </div>
</div>